---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import AboutSection from '../components/AboutSection.astro';
import Services from '../components/Services.astro';
import Contact from '../components/Contact.astro';
import { WavyBackground } from '../components/WavyBackground';
import fondoPoster from '../assets/img/divcal-fondo.jpeg';
import Why from '../components/Why.astro'
---

<Layout title="Inicio - Divcal">
  
  <Navbar />

  <main>
    <!-- Hero Section -->
    <section id="inicio" class="relative h-screen w-full flex items-center justify-center overflow-hidden bg-gray-900">
      <div class="absolute inset-0 z-0">
         <video
           class="w-full h-full object-cover"
           autoplay
           muted
           loop
           playsinline
           poster={fondoPoster.src} 
         >
           <source src="/video/presentacion.mp4" type="video/mp4" />
           Tu navegador no soporta videos HTML5.
         </video>
      </div>
    </section>

   
    <WavyBackground 
      client:visible
      containerClassName="w-full min-h-screen"
      backgroundFill="white"
      waveOpacity={0.7}
      colors={["#32b4c1", "#20294a", "#e7e8ed", "#0c4a6e "]}
      speed='slow'
      waveWidth={30}
    >
      <div class="w-full h-full flex items-center justify-center">
        <AboutSection/>
      </div>
    </WavyBackground>
  
    
    <Services />
    <Contact />
    <Why />
  </main>
</Layout>