---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import AboutSection from '../components/AboutSection.astro';
import Services from '../components/Services.astro';
import Contact from '../components/Contact.astro';
import { WavyBackground } from '../components/WavyBackground';
---

<Layout title="Inicio - Divcal">
  
  <Navbar />

  <main>
    <section class="relative h-screen w-full flex items-center justify-center overflow-hidden bg-gray-900">
      
      <div class="absolute inset-0 z-0">
         <img 
           src="/src/assets/img/empresa-img.jpg" 
           alt="Fondo de presentación" 
           class="w-full h-full object-cover opacity-60"
         />
         </div>

      <div class="relative z-10 text-center px-4">
        <h1 class="text-5xl md:text-7xl font-bold text-white mb-6 tracking-tight">
          DIVCAL <br /> <span class="text-blue-400">SOLUCIONES BPO</span>
        </h1>
        <p class="text-xl md:text-2xl text-gray-200 max-w-2xl mx-auto">
          Optimizamos tus procesos para que tú te enfoques en crecer.
        </p>
      </div>

    </section>
	<AboutSection/>
	
    <Services />
    
    <Contact />

  </main>
</Layout>